
/* page defaults: */
* {
  color: #5c5b56;
  font:  14px Verdana,Helvetica,Arial,sans-serif;
}

/* html: */
html {
  height: 100%;
}

/* body: */
body {
  height: 95%;
  background: #ffffff;
}

/* main container div: */
#container000 {
  height: 95%;
}

/* title: */
#title000 {
  text-align: center;
  font-weight: 600;
  padding: 20px;
}

/* plot container div: */
#container020 {
  width: 100%;
  display: table;
}

/* button labels: */
#select000 label,
#select010 label {
  display:     inline-block;
  margin:      5px 0px 5px 0px;
  font-weight: 600;
}

/* buttons : */
button {
  width:            140px;
  color:            #ffffff;
  background-color: #dcdcdc;
  border:           1px solid #cccccc;
  padding:          3px;
  margin:           2px 2px;
  cursor:           pointer;
}
button:disabled,
button[disabled] {
  background-color: #6a5acd;
  border:           1px solid #6a5acd;
  cursor:           auto;
}

button.button-data_type,
button.button-data_type {
  background-color: #bcbcbc;
  border:           1px solid #bcbcbc;
}
button.button-data_type:disabled,
button.button-data_type[disabled] {
  background-color: #1e90ff;
  border:           1px solid #1e90ff;
}
/* remove outlines from buttons: */
button, button:focus, button:active {
  outline:          0;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* mask slider title: */
.title-mask-slider {
  font-weight: 600;
}

/* sliders: */
div.label-slider {
  margin: 8px;
  font-size: 13px;
}
.noUi-target {
  margin: 5px 0 25px 20px;
  width: 90%;
}
.noUi-connect {
  background: #1e90ff;
}

